* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);

  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  --ff-inter: 'Inter', sans-serif;

  --fs-14: 14px;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: var(--grey-900);
  font-family: var(--ff-inter);
  font-size: var(--fs-14);
  min-height: 100vh;
  margin: 16px 32px;
  overflow: hidden;
}

a {
  color: var(--white);
  font-family: inherit;
  text-decoration: none;
}

main {
  border-radius: 8px;
  background-color: var(--grey-800);
  padding: 32px 29px;
  max-width: 600px;
  text-align: center;
}

.profile__image {
  border-radius: 50%;
  height: 80px;
  margin-bottom: 20px;
}

.profile__username {
  color: var(--white);
  margin-bottom: 15px;
}

.profile__location {
  color: var(--green);
  font-weight: var(--grey-800);
  margin-bottom: 20px;
}

.profile__quote {
  color: var(--white);
  font-size: 12px;
  margin: 0 20px 20px 20px;
}

.profile__link {
  color: var(--white);
  background-color: var(--grey-700);
  border-radius: 5px;
  display: block;
  font-weight: var(--fw-600);
  font-size: 14px;
  margin-top: 15px;
  padding: 10px 0;
}

.profile__link:hover {
  color: var(--grey-900);
  background-color: var(--green);
  transition-duration: 0.4s;
}
